<!-- The following section is automatically maintained by the CAMARA project-administration tooling: https://github.com/camaraproject/project-administration -->

## Release Information

> [!NOTE]
> Please be aware that the project will have frequent updates to the main branch. There are no compatibility guarantees associated with code in any branch, including main, until a new release is created. For example, changes may be reverted before a release is created. **For best results, use the latest available release**.

* The latest public release is [{{latest_public_release}}]({{github_url}}){{#meta_release}} ({{meta_release}}){{/meta_release}}, with the following API versions:
{{{formatted_apis}}}
* The latest public release is always available here: https://github.com/camaraproject/{{repo_name}}/releases/latest
* Other releases of this repository are available in https://github.com/camaraproject/{{repo_name}}/releases
* For changes see [CHANGELOG](https://github.com/camaraproject/{{repo_name}}/tree/main/CHANGELOG)

_The above section is automatically synchronized by CAMARA project-administration._
